# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Build artifacts (Backend)
target/

# Local Dev Configuration
application-dev.properties


